<div class="admin-index-tools">
	<a class="admin-index-tools-back" href="{{ path('type_index') }}">
		<i class="fas fa-chevron-left"></i>
		Liste
	</a>
</div>
{{ form_start(form) }}
	<div class="form-row">
		<div class="form-widget">
			{{ form_widget(form.name) }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-widget">
			{{ form_widget(form.splitGroupSize) }}
		</div>
	</div>
	<div class="form-row">
		<div class="form-widget">
			<button class="frame frame-heavy clickable" name="btn_action" value="update">{{ btn_label }}</button>
		</div>
	</div>
	{% if btn_split_group_empty is defined and btn_split_group_remap is defined %}
	<div class="form-row">
		<div class="form-widget">
			<button class="frame frame-heavy clickable" name="btn_action" value="split_group_empty">{{ btn_split_group_empty }}</button>
		</div>
		<div class="form-widget">
			<button class="frame frame-important clickable" name="btn_action" value="split_group_remap" onclick="return confirm('Etes-vous sûr de vouloir remapper tous les mots ?');">{{ btn_split_group_remap }}</button>
		</div>
	</div>
	{% endif %}
	
{{ form_end(form) }}