<!DOCTYPE html>
<html id="page-{% block page_id %}{% endblock %}">
    <head>
        <title>J-App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#21242b">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="manifest" href="{{ asset('pwa/manifest.json') }}">
    </head>
    <body>
        <div class="page-container">
        {% block body %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {% block ui %}{% endblock %}
        <script src="{{ asset('libraries/jquery-3.5.0.js') }}"></script>
        <script src="https://kit.fontawesome.com/af30538883.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/global.js') }}"></script>
        {% if app.environment == 'prod' %}
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ asset('sw.js') }}");
            }
        </script>
        {% endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>
