<!DOCTYPE html>
<html id="page-{% block page_id %}{% endblock %}">
    <head>
        <title>J-App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#21242b">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('libraries/fontawesome/css/all.min.css') }}" rel="stylesheet">
        <link rel="manifest" href="{{ asset('pwa/manifest.json') }}">

        <link rel="icon" href="{{ asset('images/favicon/j_app-favicon-16.png') }}" sizes="16x16">
        <link rel="icon" href="{{ asset('images/favicon/j_app-favicon-32.png') }}" sizes="32x32">
        <link rel="icon" href="{{ asset('images/favicon/j_app-favicon-64.png') }}" sizes="64x64">
        <link rel="icon" href="{{ asset('images/favicon/j_app-favicon-128.png') }}" sizes="128x128">
        <link rel="apple-touch-icon" href="{{ asset('images/favicon/j_app-favicon-152.png') }}" sizes="152x152">
        <link rel="apple-touch-icon" href="{{ asset('images/favicon/j_app-favicon-180.png') }}" sizes="180x180">
        <link rel="icon" href="{{ asset('images/favicon/j_app-favicon-192.png') }}" sizes="192x192">
        <link rel="shortcut icon" href="{{ asset('images/favicon/j_app-favicon-196.png') }}" sizes="196x196">

    </head>
    <body>
        <div id="menu" class="">
            <div id="menu-small">
                <a>
                    <img src="{{ asset('images/favicon/j_app-favicon-64.png') }}"/>
                </a>
                <a>
                    <i class="fas fa-graduation-cap fa-lg"></i>
                </a>
                <a>
                    <img src="{{ asset('images/numbers-icon.svg') }}"/>
                </a>
            </div>
            <div id="menu-extend">
                <a href="{{ path('selection') }}"><span>Home</span></a>
                <a href="{{ path('notes') }}"><span>Notes</span></a>
                <a href="{{ path('numbers') }}"><span>Nombres</span></a>
            </div>
            
        </div>
        <div class="page-container">
            <div class="section-container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
        {% block ui %}{% endblock %}
        <script src="{{ asset('libraries/jquery-3.5.0.js') }}"></script>
        <script src="{{ asset('js/global.js') }}"></script>
        {% if app.environment == ''%}
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ asset('sw.js') }}");
            }
        </script>
        {% endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>
