{% extends "base.html.twig" %}

{% block page_id %}select{% endblock %}

{% block body %}

<div id="intro">
	<img class="logo" src="{{ asset('images/j_app-logo-color-darkmode.svg') }}"/>
	<div class="frame frame-light">
		<p><strong>J-App</strong> est une application qui permet d'apprendre des mots de <strong>vocabulaire en japonais</strong> sous forme d'un jeu.</p>
		<p>Le but est de traduire un mot <strong>aléatoire</strong> en rômaji et en français. Vous pouvez choisir les mots grâce aux paramètres de sélection ci-dessous.</p>
		{# <p>Contactez-moi sur Twitter si vous voulez discuter du projet. Et si vous voulez récompenser mes nombreuses heures de travail acharné, n'hésitez pas à faire un petit don :)</p> #}

		<div class="row">
			{# <a class="clickable" href="https://twitter.com/kronawak" target="_blank" id="twitter-link">
			<i class="fab fa-twitter"></i>
				KroNawak
			</a>
			<a class="clickable" href="https://ko-fi.com/K3K51R1FI" target="_blank"  id="kofi-link">
			<i class="fas fa-coins"></i>
				Faire un don
			</a> #}
			<span id="help-btn" class="frame frame-small frame-light clickable modal-btn" data-modal="help">
				<i class="fas fa-question-circle"></i>
				Comment jouer
			</span>
		</div>
	</div>
</div>
<div id="error-tts" class="frame frame-important frame-error">
	Vous ne semblez pas avoir les installations nécessaires pour profiter des <b>fonctionnalités vocales</b> du site.
	<br>
	Pas d'inquiétude, c'est très facile : <span class="clickable modal-btn" data-modal="help-tts"><b>Guide d'installation</b></span>.
</div>

<div class="select-cat select-cat-single frame-group tts-only" data-select-cat="method">
	<div class="frame-header frame frame-heavy">Méthode d'apprentissage</div>
	<div class="frame-content frame frame-light">
		<div class="row">
			<div class="select-cat-option frame frame-light clickable selected" data-select-option="write">
				<span><i class="fas fa-book-open"></i>Lecture</span>
				<span>Entraînez-vous à reconnaitre les Kanjis et mémorisez le vocabulaire.</span>
			</div>
			<div class="select-cat-option frame frame-light clickable" data-select-option="listen">
				<span><i class="fas fa-headphones-alt"></i>Compréhension orale</span>
				<span>Écoutez attentivement les mots dictés et traduisez-les.</span>
			</div>
		</div>
	</div>
</div>

<div class="select-cat select-cat-single frame-group" data-select-cat="mode">
	<div class="frame-header frame frame-heavy">Mode de jeu <i class="fas fa-question-circle modal-btn clickable" data-modal="mode"></i></div>
	<div class="frame-content frame frame-light">
		<div class="row">
			<div class="select-cat-option frame frame-light clickable selected" data-select-option="normal">Normal</div>
			<div class="select-cat-option frame frame-light clickable" data-select-option="hard">Difficile</div>
			<div class="select-cat-option frame frame-light clickable" data-select-option="numbers">Nombres</div>
		</div>
	</div>
</div>

{{ form_start(selectionForm, {'attr': {'id': 'select-form'}}) }}
	<div class="row">
		{{ form_widget(selectionForm.submit, {'attr': {'class': 'frame frame-heavy clickable'}}) }}
	</div>
	<span class="select-error"></span>
{{ form_end(selectionForm) }}

<h2>Paramètres de sélection</h2>

<div id="select-count" class="frame-group">
	<div class="frame-header frame frame-heavy">
		Nombre de mots sélectionnés
	</div>
	<div class="frame-content frame frame-light">
		<span id="select-count-selected"></span>
		<span>/{{ words|length }}</span>
	</div>
</div>

<div class="select-cat select-cat-multi frame-group" data-select-cat="types">
	<div class="frame-header frame frame-heavy">
	Sélection par type de mot
		<div class="select-cat-control row">
			<span class="select-cat-control-btn frame frame-small frame-light clickable" data-select-control="all">all</span>
			<span class="select-cat-control-btn frame frame-small frame-light clickable " data-select-control="none">none</span>
		</div>
	</div>
	<div class="frame-content frame frame-light">
		<div class="row">
		{% for type in types %}
			{% if type.splitGroupCount == null %}
				<div class="select-cat-option frame frame-light clickable" data-select-option="{{ type.id }}">{{ type.name }}</div>
			{% else %}
				<div class="select-cat-option frame frame-light clickable cond-emitter" data-cond-link="splitGroup_{{ type.name }}" data-select-option="{{ type.id }}">{{ type.name }}</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>

{% for type in types %}
	{% if type.splitGroupCount != null %}
		<div class="select-cat-sub select-cat-multi frame-group cond-block" data-select-cat="{{ type.id }}" data-cond-link="splitGroup_{{ type.name }}">
			<div class="frame-header frame frame-heavy">
			Parties : {{ type.name }}
				<div class="select-cat-control row">
					<span class="select-cat-control-btn frame frame-small frame-light clickable" data-select-control="all">all</span>
					<span class="select-cat-control-btn frame frame-small frame-light clickable" data-select-control="none">none</span>
				</div>
			</div>
			<div class="frame-content frame frame-light">
				<div class="row">
				{% for group in 0 .. type.splitGroupCount - 1 %}
					<div class="select-cat-option frame frame-light clickable selected" data-select-option="{{ group }}">Partie {{ group + 1 }}</div>
				{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}

<div class="select-cat select-cat-multi frame-group" data-select-cat="themes">
	<div class="frame-header frame frame-heavy">
	Sélection par thème
		<div class="select-cat-control row">
			<span class="select-cat-control-btn frame frame-small frame-light clickable" data-select-control="all">all</span>
			<span class="select-cat-control-btn frame frame-small frame-light clickable " data-select-control="none">none</span>
		</div>
	</div>
	<div class="frame-content frame frame-light">
		<div class="row">
		{% for theme in themes %}
		<div class="select-cat-option frame frame-light clickable" data-select-option="{{ theme.id }}">{{ theme.name }}</div>
		{% endfor %}
		</div>
	</div>
</div>

<div class="select-cat frame-group" data-select-cat="date">
	<div class="frame-header frame frame-heavy">Date d'ajout</div>
	<div class="frame-content frame frame-light">
		<span>Récent</span>
		<input type="range" id="select-cat-date" value="0" min="0" max="{{ dateDiff }}">
		<span>Ancien</span>
	</div>
</div>

{% endblock %}

{% block footer %}
<div id="copyright">
	<div class="section-container">
		<div class="content">
			© <a href="https://remileblanc.fr" target="_blank">Rémi Leblanc</a> 2018-2021
		</div>
	</div>
</div>
{% endblock %}

{% block ui %}

<div id="select-recap">
	<div class="frame frame-heavy">
		<span>Mots sélectionnés :&nbsp;</span>
		<span id="select-recap-count"></span>
	</div>
</div>

<div class="modal" data-modal="help" style="opacity: 0;">
	<div class="modal-content">
		<span class="modal-close far fa-times-circle"></span>
		{{ include('help-usage.html.twig') }}
	</div>
</div>

<div class="modal" data-modal="mode" style="opacity: 0;">
	<div class="modal-content">
		<span class="modal-close far fa-times-circle"></span>
		<h3>Explications des modes de jeu</h3>
		<p><b>Normal : </b>Les mots sont affichés sous la forme (Kanji ou Hiragana) la plus courante de nos jours. Ce mode est conseillée à ceux qui veulent se concentrer sur le vocabulaire plutôt que la mémorisation des Kanjis</p>
		<p><b>Difficile : </b>Les mots sont toujours affichés sous leur forme en Kanji (quand elle existe). Ce mode s'adresse à ceux qui veulent apprendre le plus de Kanji possible.</p>
		<p><b>Nombres : </b>Mode spécial qui propose de traduire des <b>nombres plutôt que des mots</b>. Ce mode est très pratique pour gagner en fluidité dans l'écriture et la compréhension des nombres. Particulièrement efficace avec la méthode <b>Compréhension Orale</b>.</p>
	</div>
</div>

<div class="modal" data-modal="help-tts" style="opacity: 0;">
	<div class="modal-content">
		<span class="modal-close far fa-times-circle"></span>
		<h2>Guide d'installation des fonctionnalités vocales</h2>

		<h3>Ordinateurs</h3>		
		<p>Attention ! Ces fonctionnalités <b>ne fonctionneront pas</b> si vous utilisez <b>Internet Explorer</b> comme navigateur.</p>
		
		<h4>Installation simple</h4>
		<p>La solution <b>la plus simple</b> pour profiter des fonctionnalités vocales de J-App est d'utiliser <b>Google Chrome</b>. Téléchargez Chrome ici : <a href="https://www.google.com/intl/fr_fr/chrome/" target="_blank">https://www.google.com/intl/fr_fr/chrome/</a>.</p>

		<h4>Pour Windows</h4>
		<p>Rendez-vous dans les <b>Paramètres > Heure et langue > Voix</b>.
		<br>
		Descendez jusqu'à la section <b>Gérer les voix</b> et cliquez sur <b>Ajouter des voix</b>.
		<br>
		Sélectionnez <b>Japonais</b> et cliquez sur <b>Ajouter</b>.
		<br>
		Attendez la fin de l'installation puis relancer votre navigateur.</p>

		<h4>Pour MacOS</h4>
		<p>Choisissez le menu <b>Pomme > Préférences Système > Accessibilité > Contenu énoncé</b>.
		<br>
		Cliquez sur <b>Voix système</b> puis choisissez <b>Personnaliser</b>.
		<br>
		Sélectionnez <b>Japonais</b> et cliquez sur <b>OK</b>.
		<br>
		Attendez la fin de l'installation puis relancer votre navigateur.</p>
		<br>
		<h3>Smartphone</h3>
		<h4>Pour Android</h4>
		<p>L'installation est plus compliquée sur smartphone car chaque téléphone possède des particularités, les étapes suivantes peuvent donc varier.</p>
		<p>Allez dans les <b>Paramètres > Accessibilité > Synyhèse vocale</b>.
		<br>
		Dans <b>Moteur préféré</b> (choissisez Google en priorité), allez dans les paramètres du moteur séléctionné.
		<br>
		Cliquez sur <b>Langue</b> et séléctionnez <b>japonais</b>.
		<br>
		Retournez dans les <b>Paramètres</b> de votre téléphone, allez dans <b>Applications</b>, trouvez votre navigateur puis cliquez sur <b>Forcer l'arrêt</b>.
		<br>
		Vous pouvez relancer votre navigateur et retourner sur J-App.</p>

		<h4>Pour iOS</h4>
		<p>A venir</p>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>

	var selection = {
		'types': {
			{% for type in types %}
			'{{ type.id }}': {
				'selected': false,
				{% if type.splitGroupCount != null %}
					'splitGroup': [{% for group in 0 .. type.splitGroupCount - 1 %}'{{ group }}',{% endfor %}],
					'splitGroupCount': '{{ type.splitGroupCount }}',
				{% endif %}
			},
			{% endfor %}
		},
        'themes': {
			{% for theme in themes %}
			'{{ theme.id }}': {
				'selected': false,
			},
			{% endfor %}
		},
		'date': '{{ lastDate|date('d-m-Y') }}',
		'mode': 'normal',
		'method': 'write',
	};

	var words = [
		{% for word in words %}
		{
			'id': '{{ word.id }}',
			'categories': {
				'types': '{{ word.type != null ? word.type.id : '' }}',
				'themes': '{{ word.theme != null ? word.theme.id : '' }}',
			},
			'date': '{{ word.createdAt ? word.createdAt|date('d-m-Y') : '' }}',
			'splitGroup': '{{ word.splitGroup }}',
			
		},
		{% endfor %}
	];

	var dates = {
		'firstDate': '{{ firstDate|date('d-m-Y') }}',
		'lastDate': '{{ lastDate|date('d-m-Y') }}'
	};

</script>
<script src="{{ asset('js/select.js') }}"></script>

{% endblock %}
