{% extends 'adminBase.html.twig' %}

{% block title %}theme{% endblock %}

{% block body %}

    <table>
        <thead>
            <tr class="frame frame-heavy">
                <th>Kanji</th>
                <th>Romaji</th>
                <th>Francais</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="frame frame-light">
                <td>{{ theme.kanji }}</td>
                <td>{{ theme.romaji }}</td>
                <td>{{ theme.francais }}</td>
                <td>{{ theme.createdAt ? theme.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('theme_index') }}">back to list</a>

    <a href="{{ path('theme_edit', {'id': theme.id}) }}">edit</a>

    {{ include('theme/_delete_form.html.twig') }}

{% endblock %}
